#!/bin/bash
sudo yum -y update
sudo yum -y install httpd
sudo yum install awscli -y
sudo aws s3 cp s3://${bucket_name}/index.html index.html

METADATA=`curl http://169.254.169.254/latest/meta-data/instance-id`

sed -i "s|<p>InstanceID:</p>|<p>InstanceID: $${METADATA}</p>|g" index.html

sudo cp index.html /var/www/html/
service httpd start
chkconfig httpd on
